.button
    border: none
    border-radius: 2px
    text-transform: uppercase
    font-size: 0.93rem
    &:hover
        cursor: pointer
    &--primary
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        padding: 1.3rem 1.9rem
        font-size: 0.96rem
        &:hover
            background-color: $primary_dark
            box-shadow: transition 0.3s
            box-shadow: none
            transition-duration: .5s
    &--outline
        border: 1px solid $light
        background-color: transparent
        color: $light
        padding: 1.25rem 3rem
        font-size: 0.99rem
        &:hover
            background-color: rgba($dark, 0.4) 
            transition-duration: .5s
            

            
            