@media screen and ( max-width: 1320px )
    .section--dark
        padding-left: 1rem
        padding-right: 1rem
@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        margin-right: 1rem
    .swiper-button
        &-prev,&-next
            width: 3.5rem
            height: 1rem
@media screen and ( max-width: 1024px )
    .swiper-slide__text
        flex-basis: 64%
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0rem
    .swiper
        &-slide
            display: flex
            align-content: space-around
            justify-content: start
            
@media screen and ( max-width: 830px )
    .row
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 2rem
    .types
        &__card
            margin-bottom: 6.542rem
    .swiper-slide
        flex-direction: row
        margin-top: 2.1875rem
        &__text
            flex-basis: 64%
        &__header
            font-size: 1.2rem
        &__meaning
            font-size: 1rem
            &--building
                font-size: 0.5rem
@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.85rem
        &__text
            font: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .card
        &__text
            margin-left: 0
            left: 0
    .swiper
        &-button-prev, &-button-next
            margin-left: -0.25rem
        &-pagination
            margin-left: -0.25rem
        &-slide
            &__text
                display: block
                flex-wrap: wrap
                flex-basis: 93%
            &__header
                font-size: 0.7rem
            &__meaning
                font-size: 0.6rem
                &--building
@media screen and ( max-height: 544px )
    .hero
        &__scroll-down
            display: none
    

    
    