*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body 
    font-family: 'FuturaBookC', cursive
    font-size: 1rem
img
    max-width: 100%
.section
    padding: 7.142rem 0
    &--dark
        background: $dark 
        color: $light 
    &-title
        text-align: center
        &__left
            text-align: left
        &__heading
            text-transform: uppercase
            font-family: 'Yeseva One', cursive
            font-size: 1.43rem
            line-height: 2rem
            margin-bottom: 0.9rem
            &--primary
                color: $primary
                font-family: 'Yeseva One', cursive
                font-size: 1.928rem
                line-height: 2.642rem
                letter-spacing: -0.07em
                text-transform: uppercase
                margin-bottom: 1.65rem
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 6.571rem
                height: 0.142rem
                background-color: $primary
                margin-left: 2.4rem
        &__textProjects
            font-family: 'FuturaBookC', cursive
            font-size: 1.1rem
            line-height: 2rem
            max-width: 31.571rem
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::before, &::after
                content: ''
                width: 2.285rem
                height: 0.071rem
                background-color: $primary
                margin: 0px 10px

                
                