.footer
    margin-top: 200px
    background: $dark url('../img/footer/footer-bg.jpg') no-repeat center / cover
    &__container
        margin-top: -22.8571rem
    &__block
        padding-top: 2.2rem
        padding-left: 12.9rem
        padding-right: 12.8571rem
        margin-top: -50px
        margin: auto
        max-width: 63.0714rem
        background-color: black
    &__title
        text-align: center
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 1.4286rem
        line-height: 2rem
        text-transform: uppercase
        margin-bottom: 3rem
    &__form
        display: flex
        flex-wrap: wrap
    &__input-group
        margin-bottom: 2.9rem
        display: flex
        justify-content: center
        flex-direction: column
        flex-wrap: wrap
        flex-basis: 40%
    &__policy
        display: flex
        margin: auto
        flex-basis: 100%
        justify-content: center
        margin-bottom: 3.1rem
    &__policy__label
        margin-top: rem
    &__button
        font-family: 'FuturaDemiC' cursive
        font-style: normal
        font-weight: 580
        font-size: 1.13rem
        line-height: 1.7rem
        text-align: center
        text-transform: uppercase
        min-width: 14.2857rem
        padding-bottom: 1rem
        padding-top: 1rem
        margin: auto
        margin-bottom: 2.4571rem

.input_name
    margin-right: 5.8571rem
.input_question
    flex-basis: 100%
    